 
 <%- include("./parts/header.ejs")%>
<%- include("./parts/nav.ejs")%> 

 <div class=" my-2 search d-flex justify-content-between align-items-center w-100 ">
  <form action="/home" method="get" style="width: 50%;" class=" d-flex align-items-center justify-content-between ">   
<select name="category" style="width: 70%;" class="text-center selectt form-select focus-ring"  aria-label="Default select example">

  <option hidden>search by category</option>
  <option value="clothes">clothes</option>
  <option value="mobiles">mobiles</option>
  <option value="cars">cars</option>
</select>

<button  style="width: 20%;" type="submit" class="btn btn-primary d-block">category</button>
</form>

<form style="width:45%;" method="get" action="/home" class=" text-center formm d-flex align-items-center justify-content-around">
   
  
    
    <input type="text" name="keyword" class=" form-control text-center" style="width: 60%;" id="exampleInputEmail1" placeholder="search by name or description" aria-describedby="emailHelp">
  


  <button type="submit"  style="width: 25%;" class="btn btn-primary text-center">Search</button>

</form>
</div>
<hr>

 <div class="home-body row" style="min-height: 57.7vh;">
  <% for(let p of products){%>
        <div class="card my-2 container text-center col col-12 col-md-6 col-lg-3" style="width: 18rem;">
  <img style="max-height:150px;" src="/<%=p.image%>" class="card-img-top" alt="...">
  <div class="card-body">
    <hr>
    <h5 class="man-cap"><%= p.name%></h5>
    <p class="card-text"><%= p.description%></p>
    <p class="card-text">MEN</p>
    <form action="/user/addtocart" method="post">
      <input type="number" class="text-center" placeholder="enter the amount..." name="number" id="">
      <input type="hidden" class="text-center" value="<%= p.name %>" name="name" id="">
      <input type="hidden" class="text-center" value="<%= p.price %>" name="price" id="">
      <input type="hidden" class="text-center" value="<%= p._id %>" name="id" id="">
      <input type="submit" class="text-center btn btn-primary my-2" value="Order"  id="">
     
    </form>
  
  </div>
</div>
  <% }%>






</div>



<%- include("./parts/footer.ejs")%>