<%- include("./parts/header")%>
<%- include("./parts/nav")%>
<div class="cartBody text-center" style="min-height: 68vh;">
    <h2 class="my-2">your orders</h2>
    <div class="orders cart shadow container d-flex justify-content-around align-items-center">
      <% console.log(orders) %>
       <%   if(orders){%>
     
            <% for(order of orders){%>
                <div class="card p-2">
                     <h5><%= order.name%></h5>
                     <h5><%= order.number%></h5>
                     <h6><%= order.price * order.number%></h6>
                </div>
               
                <%}}%>
    </div>
    <div class="confirmation">
     <form class="w-100 d-flex align-items-center flex-column  mt-5 " method="post" action="/admin/confirmorder">


    
     
  
     <input type="text" required name="address" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur address ......." aria-describedby="emailHelp">
    <input type="text" required name="phone" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur phone......." aria-describedby="emailHelp">
    <input type="text" required name="name" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur name......." aria-describedby="emailHelp">
    
  <button type="submit"  class="btn btn-primary my-2" >confirm order</button>

</form>
    </div>
</div>
<%- include("./parts/footer")%>